version: '3.8'
services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: ./backend
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/tr_system
      - JWT_SECRET=midnight_secret
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules

volumes:
  mongo_data:
